version: "3"
services:
  db:
    image: postgres:14  # https://hub.docker.com/_/postgres
    ports:
      - "5432:5432"
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - ./compose/.env.dev
    restart: always

  api:
    build:
      # context: ./backend
      context: .
      # dockerfile: Dockerfile
      dockerfile: ./compose/local/pytorch/Dockerfile
    depends_on:
      - db
    restart: always
    ports:
      - "8001:8001"
      - "5678:5678"
    volumes:
      - ./backend/app:/app
      - ./backend/assets:/assets
      - ./model_resources:/model_resources
    env_file:
      - ./compose/.env.dev
    command:  /app/run.sh


  redis:
    image: redis:7.0.11-alpine
    container_name: reddis
    restart: always

  
  flower:
    image: mher/flower
    container_name: flower
    command: celery flower # This will execute flower.
    env_file:
      - ./compose/.env.dev
    ports: 
      - 5555:5555 # docker will expose this ports for flower
    depends_on:
      - redis
      - db
    restart: always


  worker-ingress:
    build:
      context: .
      dockerfile: ./compose/local/pytorch/Dockerfile
    image: worker_ingress
    command: python -m debugpy --listen 0.0.0.0:5671 -m celery -A app.main.celery worker --loglevel=info -Q ingress --hostname=ingress@%h
    volumes:
      - ./backend/app:/app
      - ./model_resources:/model_resources
    ports:
      - 5671:5671
    env_file:
      - ./compose/.env.dev
    depends_on:
      - redis
      - db
    restart: always
    deploy:
      replicas: 1


  worker-infer:
    build:
      context: .
      dockerfile: ./compose/local/pytorch/Dockerfile
    image: worker_infer
    command: python -m debugpy --listen 0.0.0.0:5672 -m celery -A app.main.celery worker --loglevel=info -Q infer --hostname=infer@%h --pool=solo 
    volumes:
      - ./backend/app:/app
      - ./model_resources:/model_resources
    ports:
      - 5672:5672
    env_file:
      - ./compose/.env.dev
    environment:
      LOAD_CT_TAGGER: yes
    depends_on:
      - redis
      - db
    restart: always
    ulimits:
      stack: 67108864
      memlock: -1
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           capabilities: [gpu]
              # device: 0
      # replicas: 1
    # deploy:
    #   replicas: 1
    


volumes:
  app-db-data:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1