celery==5.6.3
SQLAlchemy==2.0.41
watchfiles==1.2.0
fastapi==0.116.1
psycopg2-binary==2.9.10
alembic==1.18.5
atomicwrites==1.4.1
attrs==26.1.0
bcrypt==4.3.0
certifi==2026.7.22
cffi==1.17.1
email-validator==2.2.0
pydantic==1.10.21
passlib==1.7.4
httpx==0.28.1
python-multipart==0.0.20
gunicorn==23.0.0
uvicorn==0.35.0
Jinja2==3.1.6
kombu==5.6.2
tenacity==9.1.2
debugpy==1.8.14
imbalanced-learn==0.13.0
transformers==4.55.2
nltk==3.10.0
pandas==2.3.3
redis==8.1.0
orjson==3.10.18
asgiref==3.12.1
aiostream==0.4.5
aiohttp==3.10.11
# torch==2.0.1+cu118
tqdm==4.70.0
pytorch-lightning==2.5.1
